/* Style for screenshot if present within .test-info.selected */
.test-info.selected #screenshot img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow for emphasis */
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Increase screenshot size on hover for clarity */
.test-info.selected #screenshot img:hover {
    transform: scale(1.05);
}
#screenshot {
    justify-self: center;
    width: 20vw;
    left: 14.4vw;
    top: 52vh;
    background: white;
    padding: 7px;
    margin: 8px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .15);
}

#screenshot:empty {
display: none;
}

#screenshot img.increased {
    width: 77%;
    bottom: 2vh;
    height: 96%;
    left: 10vw;
    z-index: 102;
    position: fixed;
    border-radius: 0;
}