.test-info.selected {
    grid-template-rows: repeat(10, 1fr);
    display: grid;
    position: relative;
    overflow: auto;
    justify-items: center;
    background-color: #6464641c;
    min-height: 0;
    margin: 0 0.5em;
    border: 1px solid #8080804a;
    border-radius: 20px;
}

.test-info:not(.selected) {
  display: none;
}

.info-icon {
  height: 0;
}

.selected .info-icon::before {
    content: "\24D8";
    font-size: 1.8em;
    position: absolute;
    left: 1vw;
    top: 1vh;
}

.selected .info-icon:hover::before {
    font-weight: bold;
    cursor: help;
}

#run-info {
    display: none;
}